body {
  overflow-x: hidden;
}

.slider {
    position: relative;
    /* overflow-y: visible; */
    width: 100%;
    overflow: visible;
  }
  
  .slides {
    transition: transform 0.5s ease-in-out;
  }
  
  .slide {
    /* flex: 0 0 100%; */
  }
  
  .prev,
  .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    height: 180px;
    padding: 10px;
    font-size: 25px;
    border: none;
    cursor: pointer;
    /* box-shadow: 0px 0px 2px 2px rgba(255, 255, 255, 0.3); */
  }
  
  
  .prev {
    left: 0;
  }
  
  .next {
    right: 0;
  }