.container {
    background-color: black;
}

.border {border-bottom: 10px solid #232323;}

.bg {
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url(../images/img01.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.row {
    max-width: 1190px;
    margin: auto;
    padding-top: 6%;
    padding-bottom: 6%;
}

.column {
    flex: 1;
}

* {
    column-gap: 20px;
}

body {
    padding: 0px;
    margin: 0px;
}

h1 {
    font-family: Helvetica;
    font-size: 45px;
    font-weight: 700;
    color: white;
    line-height: 1.4;
    margin: 0;
}

h2 {
    font-family: Helvetica;
    font-size: 35px;
    font-weight: 700;
    line-height: 1.4;
    color: white;
    margin: 0;
}

h3 {
    font-family: Helvetica;
    font-size: 27px;
    font-weight: 500;
    line-height: 1.4;
    color: white;
    margin: 0;
}

p2 {
    font-family: Helvetica;
    font-size: 24px;
    line-height: 2;
    color: white;
}

p3 {
    font-family: Helvetica;
    font-size: 20px;
    line-height: 2;
    color: white;
}

p,
.button {
    font-family: Helvetica;
    font-size: 16px;
    line-height: 1.7;
    color: white;
}

.d-flex {
    display: flex;
}

.head {
    /* margin: auto; background-color: red; */
    max-width: 1190px;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
}

.logo {
    width: auto;
    height: 50px;
}

.language {
    background: transparent;
    border: 2px solid white;
    margin: auto !important;
    border-radius: 25px;
    width: 100px;
    padding: 4px;
    color: white;
    text-align: center;
}

.button {
    color: white;
    background-color: red;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    width: 75px;
    text-align: center;
    margin-left: 15px;
    border-radius: 5px;
    height: auto;
}

.button:hover {
    background-color: #c00;
}

.mail {
    flex: 1;
    justify-content: end;
    display: flex;
}

.email {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid white;
    border-radius: 5px;
    width: 300px;
    color: white;
    padding: 12px;
}

.button1 {
    color: white;
    background-color: red;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 20px;
    padding-right: 20px;
    width: auto;
    text-align: center;
    margin-left: 15px;
    border-radius: 5px;
    height: auto;
    font-family: Helvetica;
    font-size: 30px;
    line-height: 1.7;
}

.button1:hover {
    background-color: #c00;
}

.col {
    height: 350px;
    display: flex;
    justify-content: center;
}

.col .video {
    width: 330px;
    position: absolute;
    margin-top: 20px;
    z-index: -1;
}

.col .video1 {
    width: 330px;
    position: absolute;
    margin-top: 75px;
    z-index: -1;
}


.loginbg {
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url(../images/loginbg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.signin {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    padding: 50px;
    width: 40%;
    box-shadow: 0px 0px 2px 2px rgba(255, 255, 255, 0.3);
}

.signin .email {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid white;
    border-radius: 5px;
    width: 90%;
    color: white;
    padding: 12px;
    margin-top: 20px;
}

.signin .button {
    background-color: red;
    padding: 5px;
    width: 95%;
    border:none;
    margin-left: 0px;
    margin-top: 10px;
}

.img {
    width: 100%;
    height: 80vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.col1 {
    position: absolute;
    z-index: -1;
}